# MIUI ADD: Display_GamePostProcessing
#
# Copyright (c) 2021-2023 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

service vendor.gppservice /system_ext/bin/gppservice
    class main
    user system
    group system readproc media_rw media
# END Display_GamePostProcessing
